* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
}

html {
    height: 100%;
}

body {
    height: 100%;
    min-width: 640px;
    padding: 10px;
    background-color: rgb(0, 0, 0);
}

header {
    margin: 30px;
}

main {
    display: flex;
    justify-content: space-between;
}

p,
h4 {
    display: flex;
    align-items: center;
    color: rgb(255, 255, 255, 0.5);
}

h4 {
    font-weight: 500;
}

.container {
    background-color: rgb(255, 255, 255, 0.1);
    border-radius: 10px;
    display: flex;
    padding: 15px;
    flex-direction: column;
    align-items: center;
}

#convert_container,
#collection_container {
    width: 80%;
}

#convert_from_container,
#convert_to_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#collection_container {
    position: relative;
}

#library_container {
    margin-right: 10px;
    display: block;
    width: 20%;
}

.buttons_container,
.images_container {
    display: flex;
    align-items: center;
}

.images_container {
    visibility: hidden;
}

#images_container {
    visibility: hidden;
}

#selects_container {
    justify-content: space-evenly;
    flex-direction: row;
    margin-bottom: 10px;
}

.name_container {
    margin-bottom: 5px;
    font-weight: 300;
    color: rgb(255, 255, 255);
}

.conversion_data_container {
    font-size: 14px;
}

.conversion_data_container img {
    height: 14px;
    filter: invert(60%) sepia(0%) saturate(0%) hue-rotate(43deg) brightness(92%)
        contrast(89%);
}

#restore_images_container_manage_button {
    display: none;
    /* display: flex; */
    align-items: center;
    justify-content: center;
}
#restore_images_container_manage_button.favorite_image {
    display: none;
}
#restore_images_container_manage_button.heart_broken_image {
    display: block;
}

h1 {
    font-weight: 700;
    letter-spacing: 1px;
    color: rgb(255, 255, 255);
    text-align: center;
}

input,
select,
button,
li {
    font-size: 16px;
}

input {
    text-align: center;
}

span {
    display: flex;
    border-radius: 5px;
    width: 60px;
    min-height: 22px;
}

.color__display {
    display: flex;
    justify-content: center;
}

.conversion_table {
    display: table;
    width: 100%;
    text-align: center;
    border-collapse: collapse;
    margin-bottom: 25px;
}

th h4 {
    justify-content: center;
}

tr {
    color: rgb(255, 255, 255);
    border-bottom: 2px solid rgb(255, 255, 255, 0.3);
}

td {
    font-weight: 300;
}

.small_td,
.small_th {
    min-width: 25px;
    width: 25px;
}

th,
td {
    display: table-cell;
    padding: 15px 0;
    min-width: 75px;
}

@keyframes highlight {
    0% {
        background-color: transparent;
    }
    50% {
        background-color: rgb(255, 255, 255, 0.5);
    }
    100% {
        background-color: transparent;
    }
}

.animate-highlight {
    animation: highlight 1s ease 0s 1 normal forwards;
}

#saving_window,
#warning_window {
    position: absolute;
    padding: 40px;
    height: 250px;
    width: 60%;
    max-width: 500px;
    background-color: #2f2f2f;
    border-radius: 20px;
    display: flex;
    /* display: none; */
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    font-size: 16px;
    right: 0;
    left: 0;
    margin: auto;
    transform: translateY(-50%);
    top: 50%;
}

#enter_name_input {
    width: 80%;
}

#warning_window p {
    text-align: center;
    color: rgb(232, 221, 218);
}

/* buttons */

.button {
    background-color: rgb(87, 43, 57, 0.8);
    display: flex;
    justify-content: center;
    margin: 10px;
    padding: 15px;
    border: none;
    border-radius: 50%;
}

.button:hover,
.close_button:hover {
    background-color: rgb(87, 43, 57, 0.9);
}

.button:active {
    background-color: rgb(87, 43, 57);
}

.close_button {
    margin: 10px;
    position: absolute;
    top: 0;
    right: 0;
}

.small_button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    border: none;
    background-color: transparent;
    filter: invert(60%) sepia(0%) saturate(0%) hue-rotate(43deg) brightness(92%)
        contrast(89%);
}

.manage_button,
.save_button {
    background-color: transparent;
    width: 30px;
    height: 30px;
    border: none;
    margin: 10px;
    position: absolute;
    top: 0;
    right: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.transparent_button:hover {
    background-color: rgb(255, 255, 255, 0.3);
    filter: none;
}

.transparent_button:active {
    background-color: rgb(255, 255, 255, 0.1);
}

.sort_button {
    height: 25px;
    width: 25px;
    background: transparent;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

#restart_button {
    padding: 2px;
}

.delete_button {
    display: flex;
    width: 25px;
    height: 25px;
    border: none;
    background: transparent;
}

/* images */

img {
    filter: invert(95%) sepia(7%) saturate(252%) hue-rotate(325deg)
        brightness(94%) contrast(92%);
}

/* TODO: add to dark images */
.dark_image {
    opacity: 0.8;
    filter: invert(18%) sepia(31%) saturate(974%) hue-rotate(290deg)
        brightness(89%) contrast(89%);
}

.arrow_image {
    margin: 0 -13px;
    width: 75%;
}

.large_image {
    width: 35px;
}

.large_image.favorite_image {
    position: relative;
    top: 5%;
}

#arrow_down_image {
    transform: rotate(180deg);
}

.sort_image {
    width: 100%;
    transform: scale(0.5, 1);
}

#rotated_sort_image {
    transform: scale(0.5, 1) rotate(180deg);
}

.close_image {
    width: 100%;
}

/* replace .close_image */
.small_image {
    width: 100%;
}

.manage_button > .heart_broken_image {
    display: none;
}

.manage_button img {
    width: 100%;
    opacity: 0.8;
    filter: invert(18%) sepia(31%) saturate(974%) hue-rotate(290deg)
        brightness(89%) contrast(89%);
}

.manage_button img:hover {
    opacity: 0.9;
}

.delete_image {
    display: none;
    width: 100%;
}

tr:hover .delete_image {
    display: block;
}

/* list items */

li {
    width: 100%;
    margin: 15px 0;
    text-align: center;
    list-style: none;
    padding: 5px 10px;
    border-radius: 6px;
}
li:hover {
    background-color: rgb(232, 221, 218, 0.3);
}
